:root {
	--white: #ffffff;
	--gray: #E3E3E3;
	--arsenic: #484D52;
	--ligth-gray: #F2F2F2;
	--black: #000000;
    --prussian-blue: #163351;
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
    text-align: justify;
	font-family: 'Roboto', sans-serif;
}

section[id]{
	scroll-margin-top: 80px;
}

/* ---------- HEADER ---------- */
nav {
	background: var(--white);
	height: 80px;
	width: 100%;
	position: fixed;
}

.enlace {
	position: absolute;
	padding: 20px 50px;
}

.logo {
	height: 50px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: var(--black);
	font-size: 18px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

li a:hover {
	background: var(--ligth-gray);
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

/* ---------- MAIN ---------- */
#servicios,
#horarios,
#precios,
#contacto {
	padding-block: 30px;
    padding-inline: 20px;
}

#inicio {
	padding-top: 110px;
	padding-inline: 20px;
	padding-bottom: 30px;
	background-color: var(--ligth-gray);
}

#horarios {
	background-color: var(--ligth-gray);
}

#precios {
	text-align: center;
}

.contenedor-planes {
	display: flex;
	justify-content: space-between;
}

.plan-mensual,
.plan-anual {
	width: 45%;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	margin: 10px;
	background: var(--prussian-blue);
	color: var(--white);
	border-radius: 5px;
}

.descuento {
	color: red;
}

.precio {
	font-size: 30px;
}

sup {
	font-size: 20px;
}

/* ---------- Contacto ---------- */
#contacto {
	background-color: var(--black);
}

.contacto {
	background: #F2F2F2;
	/*arsenic*/
	margin: 10px;
	padding: 20px;
	border-radius: 7px;
}

input,
textarea,
button {
	background-color: white;
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
}

input{
	padding: 20px;
}

textarea {
	min-height: 80px;
	max-height: 200px;
	max-width: 100%;
	padding: 20px;
	border: 2px solid var(--black);
}

.bottom {
	background: #D7D7D7;
	padding: 20px;
}

.text-contact {
	text-align: center;
	margin: 0;
}

p {
	margin-bottom: 20px;
}

.bottom:hover {
	background-color: var(--gray);
}


.form_msj {
	text-align: center;
	background-color: green;
	border: 2px solid var(--black);
	display: none;
}

.form_msj p {
	color: var(--white);
	font-size: 2.3vh;
	text-shadow: 2px 2px 2px black;
	padding-top: 20px;
}


.form_error{
	text-align: center;
	background-color: rgb(219, 0, 0);
	border: 2px solid var(--black);
	display: none;
}

.form_error p {
	color: var(--white);
	font-size: 2.3vh;
	text-shadow: 2px 2px 2px black;
	padding-top: 20px;
}



/* ---------- FOOTER ---------- */
footer {
	background-color: var(--arsenic);
	color: var(--white);
    text-align: center;
    padding-block: 20px;
}

footer ul li{
    display: inline-flex;
}

Footer ul li a:hover{
    background: none;
}
